<div class="container">
    <h2 oda-label="home.title"></h2>

    <div class="row">
        <div class="col-md-6">
            <span oda-label="home.hello"></span>
        </div>
        <div class="col-md-6" style="text-align:right;">
            <button onclick="$.Oda.App.Controler.Home.config();" class="btn btn-default" oda-label="home.config"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>home.config</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="listItem">
            <oda-loading></oda-loading>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="text-align:center;">
            <button onclick="$.Oda.App.Controler.Home.addItem();" class="btn btn-primary" oda-label="home.addItem" id="bt-add"><span class="glyphicon glyphicon-add" aria-hidden="true"></span>home.addItem</button>
        </div>
        <div class="col-md-4" style="text-align:center;">
            <button onclick="$.Oda.App.Controler.Home.clean();" class="btn btn-warning" oda-label="home.clear"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>home.clear</button>
        </div>
        <div class="col-md-4" style="text-align:center;">
            <button onclick="$.Oda.App.Controler.Home.calculate();" class="btn btn-success" oda-label="home.calculate"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>home.calculate</button>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controler.Home.start();
</script>

<script id="edit-addItem" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" oda-label="home.name">name</label>
                <input type="text" class="form-control" oda-input-text="name" oda-input-text-tips="home.name-tips"
                       oda-input-text-placeholder="home.name-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="nb" oda-label="home.nb">nb</label>
                <input type="number" class="form-control" oda-input-text="nb" oda-input-text-tips="home.nb-tips" value="1"
                       oda-input-text-placeholder="home.nb-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="price" oda-label="home.price">price</label>
                <input type="number" step="0.01" class="form-control" oda-input-text="price" oda-input-text-tips="home.price-tips"
                       oda-input-text-placeholder="home.price-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="tr" oda-label="home.tr">tr</label><br>
                <input type="checkbox" id="tr">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input oda-input-text="search" type="text" class="form-control disabled" oda-input-text-placeholder="home.search" disabled>
                <span class="input-group-btn">
                    <button data-toggle="modal" class="btn btn-default" type="button" onclick="$.Oda.App.Controler.Home.search();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </div>
    </div>
</script>

<script id="edit-configure" type="text/template">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="cfg-nb" oda-label="home.nb">nb</label>
                <input value="{{nb}}" type="number" type="text" class="form-control" oda-input-text="cfg-nb" oda-input-text-tips="home.nb-tips"
                       oda-input-text-placeholder="home.nb-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="cfg-value" oda-label="home.value">value</label>
                <input value="{{value}}" type="number" step="0.01" class="form-control" oda-input-text="cfg-value" oda-input-text-tips="home.value-tips"
                       oda-input-text-placeholder="home.value-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="cfg-shop" oda-label="home.shop">magasin</label>
                <select class="form-control" oda-input-select="cfg-shop" required>
                        <option value="" oda-label="oda-main.select-default"></option>
                        <option value="1" {{(shop==='1')?'selected':''}}>Picard</option>
                </select>
            </div>
        </div>
    </div>
</script>

<script id="view-calculate" type="text/template">
    <div id="div_displayBasket">
        <div class="progress">
            <div id="progressBar" class="progress-bar" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                0%
            </div>
        </div>
    </div>
    <div id="stats"></div>
</script>

<script id="search-template" type="text/template">
    <div class="row">
        <div class="col-md-12" id="divTableSearch">
            <oda-loading></oda-loading>
        </div>
    </div>
</script>

<script id="edit-item" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="editName" oda-label="home.name">name</label>
                <input value="{{libelle}}" type="text" class="form-control" oda-input-text="editName" oda-input-text-tips="home.name-tips"
                       oda-input-text-placeholder="home.name-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="editPrice" oda-label="home.price">price</label>
                <input value="{{prix}}" type="number" step="0.01" class="form-control" oda-input-text="editPrice" oda-input-text-tips="home.price-tips"
                       oda-input-text-placeholder="home.price-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="editTr" oda-label="home.tr">tr</label><br>
                <input {{(tr==="1")?"checked":""}} type="checkbox" id="editTr">
            </div>
        </div>
    </div>
</script>

<style>
    .progress-bar {
        -webkit-transition: width 0.01s ease-in-out;
        transition: width 0.01s ease-in-out;
    }
</style>