.idea
.idea/
.idea/*
/.idea
/.idea/
/.idea/*

bower_components
bower_components/
bower_components/*
/bower_components
/bower_components/
/bower_components/*

node_modules
node_modules/
node_modules/*
/node_modules
/node_modules/
/node_modules/*

server/composer.lock
server/vendor
server/vendor/
server/vendor/*
/server/vendor
/server/vendor/
/server/vendor/*

config/
config/*
config/config.js
server/resources/
server/resources/*
*.iml